streamlit
google-generativeai
google-ai-generativelanguage
protobuf
pillow
requests
pandas
numpy
grpcio
grpcio-status
google-auth
google-auth-httplib2
google-api-python-client
sqlite3
json
os
tempfile
